// colors
$kiosk-primary: #ffa946;
$kiosk-secondary: #ffe8d2;

$admin-primary: #6396c3;
$admin-secondary: #81a0bb;

$white: #ffffff;
$black: #222222;
$gray: #cccccc;

// breakpoints
$breakpoint-laptop: 1280px;
$breakpoint-kiosk: 1024px;
