@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@/assets/fonts/Pretendard-Regular.woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: 'semi-bold';
    font-weight: 600;
    font-display: swap;
    src: url('@/assets/fonts/Pretendard-SemiBold.woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: 'extra-bold';
    font-weight: 800;
    font-display: swap;
    src: url('@/assets/fonts/Pretendard-ExtraBold.woff');
}
